
.profile {
    width: 100%;
    padding: 5%;
}

.profile__form {
    margin-top: 3rem;
}

.profile__save-button {
    text-align: end;
}

.profile__title {
    text-align: center;
}

@media (max-width: 768px) {
    .profile__save-button {
        text-align: center;
    }
}
