.user-animator-ligne,
.adding-buttons-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4rem;
}

.data-table, .striped {
    margin-top: 2rem;
}

a i {
    color: black;
}

a i:hover {
    color: #2bbbad;
}

@media (max-width: 992px) {

    .adding-buttons-line {
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width: 460px) {

    .data-table {
        font-size: 10px;
    }

}