h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

h5 {
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    h2 {
        font-size: 3rem;
    }
}